<template name="tempSpecialtyPage">
  <div class="specialty-page page">
        <h3>{{name}}</h3>
        <h5>Perioperative Anticoagulation Preferences</h5>
        <hr>
        <!-- <h4>Preferences</h4> -->
          <!-- <dl class="dl-horizontal">
            {{#each rules}}
              <dt>{{medClass}}</dt>
              <dd>{{rule}}</dd>
            {{/each}}
          </dl> -->
          <table class="table">
          <tr>
          	<th>Medication</th>
          	<th>Procedure</th>
          	<th>Preference</th>
          </tr>
          
          	 {{#each rules}}
          	 <tr>
          	 	<td><p class="text-warning">{{medClass}}</p></td>
          	 	<td><p class="text-info">{{medClass}}</p></td>
          	 	<td>{{rule}}</td>
          	 </tr>
          	 {{/each}}
          </table>
        <h4>Exceptions</h4>
          <dl class="dl-horizontal">
            {{#each exceptions}}
              <dt>Dr. {{surgeonLastName}} - {{medClass}}</dt>
              <dd>{{rule}}</dd>
            {{/each}}
        </dl>
  </div>
</template>